# Ignore IDE files and Mac files
.DS_Store
.idea/
*.iml

# Ignore the .env file in the root directory
.env

# Ignore Kubernetes secrets
my-secrets.yaml

# Chromedriver (if it is stored in the project)
chromedriver

# Python
/.venv/
__pycache__/

# VS Code
/.vscode/
