apiVersion: v1
kind: Secret
metadata:
  name: kicktipp-email
  namespace: default
type: Opaque
stringData:
  password: email@example.com
---
apiVersion: v1
kind: Secret
metadata:
  name: kicktipp-password
  namespace: default
type: Opaque
stringData:
  password: examplePassword
