name: Release

on:
  push:
    tags:
      - v*

jobs:
  push:
    name: Push Docker image to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4

    - name: Extract version from Github Ref
      id: extract_version
      run: |
        echo VERSION=$(echo ${{ github.ref }} | grep -o "v[0-9]\+\.[0-9]\+\.[0-9]\+") >> $GITHUB_ENV

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and push amd64 Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: docker/Dockerfile
        push: ${{ github.event.repository.full_name == github.repository }}
        platforms: linux/amd64
        tags: ghcr.io/antonengelhardt/kicktipp-bot:${{ env.VERSION }}-amd64

    # - name: Build and push arm64 Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: .
    #     file: docker/Dockerfile
    #     push: true
    #     platforms: linux/arm64
    #     tags: ghcr.io/antonengelhardt/kicktipp-bot:arm64
